.header{
    border-radius: 5px;
    border-color: black;
    border-style: solid;
}
p{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container {
    max-width: 900px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;

}

.container h1 {
    margin-bottom: 15px;
    color: #282c34;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    gap: 20px;
}

.grid-item {
    background-color: #382222;
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
}
@media screen and (max-width: 900px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}